/* Reset & Basics */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, html {
    height: 100%;
    width: 100%;
    overflow: hidden; /* Prevent scrolling, map handles movement */
}

/* Layout */
.app-container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

/* Map Container */
#map-container {
    flex-grow: 1; /* Take up remaining space */
    background: #dfe6e9; /* Placeholder color before map loads */
    position: relative;
}

#map {
    height: 100vh;   /* full-screen map */
    margin: 0;
}

/* Control Group */
.control-group {
    background: #f8f9fa;
    border-radius: 8px;
    border: 1px solid #e9ecef;
    margin: 5px auto;
    padding: 5px;
    max-height: 300px;
    transition: all 0.3s linear;
}

.control-group h3 {
    margin-bottom: 10px;
    font-size: 0.9rem;
    text-transform: uppercase;
    color: #95a5a6;
    letter-spacing: 1px;
    overflow: hidden;
}

/* Logo Area */
.logo-area {
    max-height: 300px;
    transition: all 0.3s linear;
}

.logo-area h1 {
    color: #2c3e50;
    font-size: 1.8rem;
}
.logo-area p {
    color: #7f8c8d;
    font-size: 0.9rem;
}

/* UI Section */
#ui-section {
    position: absolute;
    top: 10px;
    left: 50px;
    z-index: 1000;
    width: 350px;

    background-color: white;
    border: 2px solid #f8f9fa;
    border-radius: 8px;

    padding: 2px 6px;
}

/* Minimize/Maximize Code */
#expand {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: all 0.3s linear;
}

.expand-label {
    display: block;
    width: 100%;
    background: #e9ecef; /* match your theme */
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s linear;
}

.arrow {
    display: inline-block;
    transition: all .4s ease;
}

#hidden-checkbox:checked ~ #ui-section .control-group {
    max-height: 0;
    margin: 0 auto;
    padding: 0 5px;
    overflow: hidden;
}

#hidden-checkbox:checked ~ #ui-section .logo-area {
    max-height: 0;
    margin: 0 auto;
    overflow: hidden;
}

#hidden-checkbox:checked ~ #ui-section #expand .arrow {
    transform: rotate(180deg);
}

/* Weather Section */
#weather-section {
    display: none;
    position: absolute;
    top: 10px;
    left: 415px;
    z-index: 2000;
    width: 350px;

    background-color: white;
    border: 2px solid #f8f9fa;
    border-radius: 8px;

    padding: 2px 6px;
}

#pin-list {
    list-style-type: none;
}

#pin-list li {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

#pin-list li:not(:last-child) {
    border-bottom: 1px solid #dfe6e9;
}

#hidden-checkbox-w:checked ~ #weather-section .control-group {
    max-height: 0;
    margin: 0;
    padding: 0 5px;
    overflow: hidden;
}

#expand-w .arrow-w {
    display: inline-block;
    transition: all .4s ease;
}

#hidden-checkbox-w:checked ~ #weather-section .logo-area {
    max-height: 0;
    overflow: hidden;
}

#hidden-checkbox-w:checked ~ #weather-section #expand-w .arrow-w {
    transform: rotate(180deg);
}

/* Inputs */
.input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.button-group {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}


/* Buttons */
button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    transition: background 0.2s;
}

.active {
    background-color: #2f7eea;
    color: white;
}

.btn-group {
    width: 100%;
    margin: 5px 0;
    display: flex;
    gap: 5px;
}

.btn-group button {
    flex: 1;
}

#radar-btn {
    background: #8e44ad;
    color: white;
}

#floating-confirm-btn {
    background: #27ae60;
    color: white;
}

#ai-btn {
    background: #2f7eea;
    color: white;
}

#ai-btn:hover {
    background-color: #3f8ef5;
}